.header {
    width: 1300px;
    margin: 0px auto;
    border-bottom: solid;
    border-color: silver;
    text-align: center;
}

.headerMobile {
    margin: 0px auto;
    border-bottom: solid;
    border-color: silver;
    text-align: center;
}

.imageMobile {
    padding-left: 10px !important;
}